body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /* font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; */
    background-image: url("padoruBack4-min.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#loginContainer {
    /* display: none; */
}